/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
	--navy: #023047;
	--orange: #FB8500;
	--yellow: #FFB703;
	--teal: #219EBC;
	--blue: #8ECAE6;
  --color-bg: var(--navy);
  --color-text-main: #fff;
  --color-text-header: var(--yellow);
  --color-primary: var(--blue);
  --color-secondary: var(--orange);
  --wrapper-height: unset;
  --wrapper-width: 750px;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk, sans-serif;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  margin: 3rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  max-width: var(--wrapper-width);
  border-top: 1px solid var(--color-text-header);
}

.footer .links {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 0.75rem 1rem;
}

.divider {
  padding-inline: 0.5rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

@keyframes link-animate {
  0% {
    text-decoration-color: var(--orange);
  }
  50% {
    text-decoration-color: var(--yellow);
  }
  100% {
    text-decoration-color: var(--orange);
  }
}

@keyframes collar-animate {
  0% {
    color: var(--orange);
  }
  25% {
    color: var(--blue);
  }
  50% {
    color: var(--yellow);
  }
  75% {
    color: var(--blue);
  }
  100% {
    color: var(--orange);
  }
}

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text-main);
  margin: 3rem;
}
.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 3rem 2rem 0;
}
.header,
.wrapper {
  max-width: var(--wrapper-width);
  margin-inline: auto;
}
.header {
  & svg {
    display: block;
    max-width: 150px;
    height: auto;
  }
  & .collar {
    color: var(--orange);
  }
  & a:hover,
  & a:focus {
    .collar {
      animation: collar-animate 4s infinite;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5 !important;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 .8rem;
  font-family: var(--font-family-header);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-text-main);
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-size: 4rem;
  display: inline-flex;
  color: var(--color-text-header);
}
h2 {
  font-size: 3rem;
  color: var(--color-secondary);
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text_small {
  font-size: 0.8rem;
}
ul > li,
ol > li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  padding: 0 0 0 18px;
  margin: 0;
}
ul.no-bullet {
  list-style-type: none;
}
table {
  text-align: center;
}
thead {
  color: var(--color-primary);
}
th, td {
  padding: 0.25em;
  &:first-child {
    text-align: left;
    padding-left: 0;
  }
}

/* Link styles */
a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: .1em;
  color: var(--color-text-main);
  transition: color 0.2s linear;
}
a:not(.btn--remix):link:hover,
a:not(.btn--remix):visited:hover {
  animation: link-animate 1s infinite;
}

/* Title style adjustments */
.title-lg {
  color: var(--color-text-main);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
}
.title-md {
  font-size: 56px;
}

/* Layout: Home */
.home {
  justify-content: left;
}
.illo-container {
  display: flex;
  justify-content: flex-end;
}
.illustration {
  max-width: 180px;
  max-height: var(--image-max-width);
  margin-top: 1rem;
  margin-right: 2rem;
  transform: rotate(16deg);
}

/* Post */
.post {
  place-items: normal;
}
.postTitle {
  font-size: 4rem;
  color: var(--color-text-header);
  line-height: 1.1;
  margin-bottom: 2rem;
}
.controls {
  margin: 3rem 0 2rem;
}
